In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
import sqlite3

In [5]:
con = sqlite3.connect('password_data.sqlite')

In [7]:
data = pd.read_sql_query("SELECT * FROM Users", con)

In [9]:
data.shape

(100000, 3)

In [11]:
data.head(3)

   index      password  strength
0      0     zxe870819         1
1      1  xw46454nr23l         1
2      2     soporte13         1

In [13]:
data.columns

Index(['index', 'password', 'strength'], dtype='object')

In [15]:
data.drop(columns=['index'],axis=1,inplace=True)

In [17]:
data.head()

                  password  strength
0                zxe870819         1
1             xw46454nr23l         1
2                soporte13         1
3  accounts6000webhost.com         2
4                 c443balg         1

In [19]:
data.duplicated().sum()

np.int64(0)

In [21]:
data.isnull().sum()

password    0
strength    0
dtype: int64

In [23]:
data.dtypes

password    object
strength     int64
dtype: object

In [25]:
data['strength'].unique()

array([1, 2, 0])

# Semantic Analysis

In [ ]:
#### 1)